.glass {
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(119, 207, 255, 0.111)), to(rgba(196, 105, 85, 0.103)));
  background: linear-gradient(to top right, rgba(119, 207, 255, 0.111), rgba(196, 105, 85, 0.103));
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 2vw;
  /* border-right: .2px solid rgb(255, 255, 255); */
}

.glass:hover {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-transition: .05s ease-in-out;
  transition: .05s ease-in-out;
  border: solid white 2px;
}

.whitebox {
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: .3vw;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: none;
  color: white;
}

.neo {
  border-radius: 1.75vw;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #eeecec), color-stop(150%, #e8e9e1));
  background: linear-gradient(to top left, #eeecec 40%, #e8e9e1 150%);
  -webkit-box-shadow: 20px 20px 15px #e2e2e2, -20px -20px 30px #ffffff;
          box-shadow: 20px 20px 15px #e2e2e2, -20px -20px 30px #ffffff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: black;
}

.neo:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -webkit-box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #ffffff;
          box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #ffffff;
}

body {
  margin: auto;
}

.bg {
  background-color: #eeecec;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  z-index: -1;
  opacity: 1000%;
}

.jarret {
  width: 100%;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vh;
}

.logo {
  font-family: calgary-script-ot,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 1vh auto auto auto;
  font-size: 5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  background: radial-gradient(circle at 12.3% 19.3%, #5558da 0%, #5fd1f9 100.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.pageHeader {
  position: fixed;
}

.pageHeader .pageHeader h1 {
  font-family: calgary-script-ot,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jumbotron {
  height: 60vh;
  width: 80vw;
  margin: 10vh auto auto auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .9vw;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #80e2e9), color-stop(120%, #8db2f7));
  background: linear-gradient(to top left, #80e2e9 40%, #8db2f7 120%);
}

.jumbotron .btn {
  background-color: white;
  color: #5e5e5e;
  border: none;
}

.jumbotron .btn:hover {
  background-color: white;
  color: black;
}

.jumbotron:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: 20px 20px 15px #e2e2e2, -20px -20px 30px #ffffff;
          box-shadow: 20px 20px 15px #e2e2e2, -20px -20px 30px #ffffff;
}

.jumbotron .socials {
  position: absolute;
  right: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects {
  margin-top: 5vh;
}

.projects .title {
  margin-left: 10vw;
}

.quadwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4vh 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quadwrapper a {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  text-decoration: none;
}

.quadwrapper a .quad {
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quadwrapper a .quad h2 {
  margin: auto;
  text-decoration: none;
}

.dualwrapper {
  margin: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dualwrapper .dual {
  height: 30vw;
  -ms-flex-preferred-size: 49.2%;
      flex-basis: 49.2%;
}

.bookshelf {
  height: 25vh;
  margin: 10vh 10vw;
  padding: 2vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookshelf .books {
  margin: 0 auto .1vw auto;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 60%;
}

.bookshelf .books .book {
  padding: .5vw;
  max-width: 40px;
  -ms-flex-preferred-size: 3vw;
      flex-basis: 3vw;
  background: linear-gradient(265deg, #666666 -10%, #494949 49%);
  border-radius: .3vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  overflow: hidden;
  margin: 0 .1vh 0 .1vh;
  font-size: .7em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  color: white;
}

.bookshelf .books .book:hover {
  background: linear-gradient(265deg, #868686 -10%, #636363 49%);
  /* height: 120%;
                flex-basis: 5vw;
                max-width: 60px; */
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.bookshelf .shelf {
  width: 80%;
  background-image: linear-gradient(456deg, #c79081 0%, #dfa579 100%);
  height: 1vw;
  border-radius: .5vw;
  margin: auto;
  border: 2px solid #b18275;
}

/* // Extra small devices (portrait phones, less than 576px)
// Small devices (landscape phones, 576px and up) */
@media (max-width: 800px) {
  .logo {
    font-size: 4em;
  }
  .bookshelf {
    height: 12vh;
    color: tomato;
  }
  .bg {
    background-image: url(/Media/jarretbay.jpg) center center fixed;
    height: 100%;
    width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
/* // Large devices (desktops, 992px and up) */
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .glass {
    border-radius: .6vw;
  }
}
/*# sourceMappingURL=index.css.map */