
.body {

    width: 100%;

}

.header {


    // background-color: grey;
    border-bottom: solid black 1px;

    height: 7vh;
    width: 100%;

}

.sidebar {

    padding: 1vw;
    height: 100vh;
    position: fixed;
    width: 7vw;
    
    // border-right: solid black 1px;
    display: flex;
    flex-direction:column;
    
    background-color: #111111;
    color:white;

    a {

        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;

        &:hover {
            color: cadetblue;
        }
    }
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

    &:hover {
        color: cadetblue;
    }
}

.fbmenu, .bbmenu {
        display: none;
        // background-color: #262626;
        padding-left: 8px;
}

.active {
    color: 111111;
}